.priceValue {
        text-align: right;
  }
  .lgreen {
        background-color: lightgreen;
  }
  .lred {
      background-color: lightsalmon;
  }
  .txtRight {
      text-align: right;
}
.txtLeft {
      text-align: left;
}

.lbold {
      font-weight: bold;
}
