.level {
    background-color: rgb(225, 247, 247);
    font-size:9pt;
    height:20px;
    width:100px; 
    text-align: right;
  }
.clsRangeWT{
  width: 100px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}
.clsRowWT{
  height: 30px;
}
